@charset "UTF-8";
@font-face {
    font-family:'ShantellSans-Italic' ;
    src: url('font/Shantell_Sans/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf') format('truetype'); 
}

*{margin: 0px;
  padding: 0px;  
}
body{
    /*
    height: 1000px;
    background-image: url('imagens/background001.jpg');
    background-repeat:no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    */

}
div#img1{
    background-color: black;
    background-image: url('imagens/background001.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 2000px;
    width:auto;
    display: block;
    margin: auto;
}

header{
  
    width: auto;
    height: 25vh;
    margin:0px;
    text-align: center;
    background-color:black ;
    color: white;
    overflow: hidden;
 
    padding: 15px 10px 20px 15px;
}
h1{ min-width: 50px;
   
    height:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 10px 5px 5px 5px;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 100;
    font-size:12vh;
    display: block;

}
h2 > a {
    width: 100px;
    height: auto;
    text-decoration: none;
    color: white;
    font-size: medium;
    padding: 0px 40px 10px 40px;
    margin: auto;
    overflow: hidden;

}
p{  width: 230px;
    height: auto;
    margin: 1px 40px 40px 1px;
    padding: 2px 30px 40px 20px;
    display:block;
    font-style: normal;
    font-family: 'ShantellSans-Italic',Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-weight: bold;
    font-size: 1em;
    
}
article{
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 3vh;
   
}

div#c1{
    width: auto;
    height:auto;
    margin: 0px;
    padding: 30px 190px 40px 10px ;
    display: block;
    background-color: antiquewhite;
    border: 1px solid black;
  
   
}
div#c2{
    color: antiquewhite;
    background-color: transparent;
    width: auto;
    height: auto;
    margin: 50px 50px 50px 20px;
    padding: 30px 190px 40px 10px ;
    border: 2px;
    border-color: rgba(63, 55, 44, 0.285);
    font-family: 'ShantellSans-Italic',Arial, Helvetica, sans-serif;
    font-size: 1em;

}

div#c2 > p{
    background-color: rgba(250, 235, 215, 0.098);
    border: 1px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.683);
}