@charset "UTF-8";
@font-face {
    font-family:'ShantellSans-Italic' ;
    src: url('font/Shantell_Sans/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf') format('truetype'); 
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #242424;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 4vh;
    
}


header{
    width: 100%;
    color: white;
    padding-top: 50px;
    background-color: black;
    text-align: center;
}
h1{
    font-weight: 700;
    word-wrap: none;
    text-align: center;
    text-transform: uppercase;
}
h2{ 
    font-weight: 500;
    font-size: medium;
    padding-bottom: 50px;
    
}

main{
    margin: 0px auto;
    display: block;
   
}

section{
    width: 100%;
    height: auto;
    background-color:white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}


p{
    font-weight: 700;
    font-family:'ShantellSans-Italic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

.imagem-paralax{
    width: 100%;
    height: 100vh;
    margin: 0px;
    position: relative;
    background-color: black;
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0px 0px;
    background-attachment: fixed;
}
.imagem-paralax  > p {
    width: 450px;
    color: white;
    background-color: rgba(37, 37, 37, 0.349);
    border-radius: 3px;
    padding: 10px 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.53);

}
.imagem-paralax-2{
    width: 100%;
    height: 100vh !important;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0px 0px;
    background-attachment: fixed;

}
.imagem-paralax-2  > p {
    width: 450px;
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 3px;
    padding: 10px 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.53);
}
footer{
    background-color: black;
    font-size: medium;
    color: white;
    text-align: center;
    margin: auto;
    padding: 5px;
}
a{
    text-decoration: none;
    color: antiquewhite;

}
a:hover {
   color: rgb(166, 147, 166);
    font-size: larger;
    font-weight: bolder;

}